---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
clusterDNS:
  - 10.32.0.10
clusterDomain: cluster.local
authentication:
  x509: 
    clientCAFile: {{ kubernetes_pki_dir }}/ca.crt
  webhook:
    enabled: true
  anonymous:
    enabled: false
authorization:
  mode: Webhook
tlsCertFile: {{ kubernetes_pki_dir }}/kubelet-serving.crt
tlsPrivateKeyFile: {{ kubernetes_pki_dir }}/kubelet-serving.key
staticPodPath: /etc/kubernetes/manifests
