apiVersion: v1
kind: Config
clusters:
  - cluster:
      certificate-authority-data: {{ kubelet_ca_cert_content | b64encode }}
      server: https://{{ hostvars[groups['control_plane'] | sort | first]['ansible_host'] }}:6443
    name: kubernetes
contexts:
  - context:
      cluster: kubernetes
      user: system:node:{{ inventory_hostname }}
    name: system:node:{{ inventory_hostname }}@kubernetes
current-context: system:node:{{ inventory_hostname }}@kubernetes
users:
  - name: system:node:{{ inventory_hostname }}
    user:
      client-certificate-data: {{ _kubelet_cert.content }}
      client-key-data: {{ _kubelet_key.content }}
