.DS_Store

# Python
.venv

# Terraform
infrastructure/*.tfvars
infrastructure/*.tfstate
infrastructure/*.tfstate.backup
infrastructure/.terraform.lock.hcl
infrastructure/.terraform
infrastructure/.terraform/*

# Ansible
.ansible 
configuration/.ansible


vault.key

.env

*.bak 
.secret

