[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5
ExecStart=kube-controller-manager \
{{ _kube_controller_manager_systemd_flags | indent(2) }}

[Install]
WantedBy=multi-user.target