---
apiVersion: v1 
kind: Pod 
metadata:
  name: kube-controller-manager
  namespace: kube-system
  labels:
    node-role.kubernetes.io/control-plane: "true"
    component: kube-controller-manager
spec:
  hostNetwork: true
  priorityClassName: system-cluster-critical
  containers:
    - name: kube-controller-manager 
      image: k8s.gcr.io/kube-controller-manager:v{{ kubernetes_version }}
      command:
        - kube-controller-manager
        - --bind-address=0.0.0.0
        - --cluster-cidr=10.0.0.0/8
        - --cluster-name=kubernetes
        - --service-cluster-ip-range=10.32.0.0/24
        - --use-service-account-credentials=true
        - --leader-elect=true
        - --kubeconfig=/etc/kubernetes/controller-manager.conf
        - --cluster-signing-cert-file=/etc/kubernetes/pki/ca.crt
        - --cluster-signing-key-file=/etc/kubernetes/pki/ca.key
        - --root-ca-file=/etc/kubernetes/pki/ca.crt
        - --service-account-private-key-file=/etc/kubernetes/pki/service-account.key
        - --v=2
      volumeMounts:
        - name: kubeconfig 
          mountPath: /etc/kubernetes/controller-manager.conf 
          readOnly: true
        - name: kubernetes-pki
          mountPath: /etc/kubernetes/pki 
          readOnly: true
  volumes:
    - name: kubeconfig 
      hostPath:
        path: /etc/kubernetes/controller-manager.conf
        type: File
    - name: kubernetes-pki
      hostPath:
        path: {{ kubernetes_pki_dir }}
        type: Directory



