---
apiVersion: v1
kind: Pod
metadata:
  name: etcd
  namespace: kube-system
  labels:
    node-role.kubernetes.io/control-plane: "true"
    component: etcd
spec:
  hostNetwork: true
  priorityClassName: system-cluster-critical
  containers:
    - name: etcd 
      image: quay.io/coreos/etcd:v{{ etcd_version }}
      command:
        - etcd 
        {{ _etcd_static_pod_flags | indent(8) }}
      ports:
        - containerPort: 2379
          name: server
        - containerPort: 2380
          name: peer 
        - containerPort: 2381
          name: metrics
      volumeMounts:
        - name: etcd-data
          mountPath: /var/lib/etcd
        - name: etcd-pki
          mountPath: /etc/etcd/pki
          readOnly: true
  volumes:
    - name: etcd-data 
      hostPath:
        path: /var/lib/etcd 
        type: DirectoryOrCreate
    - name: etcd-pki 
      hostPath:
        path: {{ etcd_pki_dir }}
        type: Directory


