---
apiVersion: v1 
kind: Pod 
metadata:
  name: kube-scheduler
  namespace: kube-system
  labels:
    node-role.kubernetes.io/control-plane: "true"
    component: kube-scheduler
spec:
  hostNetwork: true
  priorityClassName: system-cluster-critical
  containers:
    - name: kube-scheduler 
      image: k8s.gcr.io/kube-scheduler:v{{ kubernetes_version }}
      command:
        - kube-scheduler
        - --bind-address=0.0.0.0
        - --leader-elect=true
        - --kubeconfig=/etc/kubernetes/scheduler.conf
        - --v=2
      volumeMounts:
        - name: kubeconfig
          mountPath: /etc/kubernetes/scheduler.conf 
          readOnly: true
  volumes:
    - name: kubeconfig
      hostPath:
        path: /etc/kubernetes/scheduler.conf
        type: File

