[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5
ExecStart=kube-scheduler \
    --bind-address=0.0.0.0 \
    --leader-elect=true \
    --kubeconfig=/etc/kubernetes/scheduler.conf \
    --v=2

[Install]
WantedBy=multi-user.target
