---
apiVersion: v1
kind: Pod
metadata:
  name: kube-scheduler
  namespace: kube-system
  labels:
    node-role.kubernetes.io/control-plane: "true"
    component: kube-scheduler
spec:
  hostNetwork: true
  priorityClassName: system-cluster-critical
  containers:
    - name: kube-scheduler
      image: registry.k8s.io/kube-scheduler:v{{ kube_scheduler_version }}
      command:
        - kube-scheduler
        {{ _kube_scheduler_static_pod_flags | indent(8) }}
      volumeMounts:
        - name: kubeconfig
          mountPath: /etc/kubernetes/scheduler.conf
          readOnly: true
  volumes:
    - name: kubeconfig
      hostPath:
        path: /etc/kubernetes/scheduler.conf
        type: File
