---
apiVersion: apiserver.config.k8s.io/v1
kind: EncryptionConfiguration
resources:
  - resources:
      - secrets
    providers:
      - secretbox:
          keys:
            - name: key
              secret: "{{ lookup('password', '/dev/null length=32 chars=ascii_letters') | b64encode }}"
              
