[Unit]
Description=kube-apiserver
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
StandardOutput=journal
StandardError=journal
Restart=on-failure
ExecStart=/usr/local/bin/kube-apiserver \
   --bind-address=0.0.0.0 \
   --secure-port=6443 \
   --advertise-address={{ ansible_host }} \
   --allow-privileged=true \
   --authorization-mode=Node,RBAC \
   --enable-admission-plugins=NodeRestriction \
   --encryption-provider-config=/etc/kubernetes/encryption-config.yaml \
   --storage-backend={{ kube_apiserver_storage_backend }} \
   --kubelet-preferred-address-types=InternalIP,ExternalDNS,ExternalIP,Hostname \
   --service-cluster-ip-range={{ kube_service_cluster_ip_range }} \
   --etcd-servers={% for host in groups['control_plane'] | sort %}https://{{ hostvars[host]['ansible_host'] }}:2379{% if not loop.last %},{% endif %}{% endfor %} \
   --etcd-certfile={{ kubernetes_pki_dir }}/apiserver-etcd-client.crt \
   --etcd-keyfile={{ kubernetes_pki_dir }}/apiserver-etcd-client.key \
   --etcd-cafile={{ etcd_pki_dir }}/ca.crt \
   --client-ca-file={{ kubernetes_pki_dir }}/ca.crt \
   --tls-cert-file={{ kubernetes_pki_dir }}/apiserver.crt \
   --tls-private-key-file={{ kubernetes_pki_dir }}/apiserver.key \
   --service-account-key-file={{ kubernetes_pki_dir }}/service-account.pub \
   --service-account-signing-key-file={{ kubernetes_pki_dir }}/service-account.key \
   --service-account-issuer=https://kubernetes.default.svc \
   --kubelet-certificate-authority={{ kubernetes_pki_dir }}/ca.crt \
   --kubelet-client-certificate={{ kubernetes_pki_dir }}/apiserver-kubelet-client.crt \
   --kubelet-client-key={{ kubernetes_pki_dir }}/apiserver-kubelet-client.key \
   -v=2
  
[Install]
WantedBy=multi-user.target
