[Unit]
Description=kube-apiserver
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
StandardOutput=journal
StandardError=journal
Restart=on-failure
ExecStart=/usr/local/bin/kube-apiserver \
{{ _kube_apiserver_systemd_flags | indent(2) }}

[Install]
WantedBy=multi-user.target
