apiVersion: v1
kind: Config
clusters:
  - cluster:
      certificate-authority-data: {{ kubectl_ca_cert_content | b64encode }}
      server: https://{{ hostvars[_kubectl_first_control_plane_host]['ansible_host'] }}:6443
    name: kubernetes
{% if 'tailscale0' in hostvars[_kubectl_first_control_plane_host]['ansible_facts'] %}
  - cluster:
      certificate-authority-data: {{ kubectl_ca_cert_content | b64encode }}
      server: https://{{ hostvars[_kubectl_first_control_plane_host]['ansible_facts']['tailscale0']['ipv4_address'] }}:6443
    name: kubernetes-tailscale
{% endif %}

contexts:
  - context:
      cluster: kubernetes
      user: kubernetes-admin
    name: kubernetes-admin@kubernetes
{% if 'tailscale0' in hostvars[_kubectl_first_control_plane_host]['ansible_facts'] %}
  - context:
      cluster: kubernetes-tailscale
      user: kubernetes-admin
    name: kubernetes-admin@kubernetes-tailscale
{% endif %}

current-context: kubernetes-admin@kubernetes
users:
  - name: kubernetes-admin
    user:
      client-certificate-data: {{ _kubectl_cert.certificate | b64encode }}
      client-key-data: {{ _kubectl_key.privatekey | b64encode }}
